* {
    box-sizing: border-box;
}

/* common */
a {
    text-decoration: none;
    color: inherit;
}

ul, ol {
    list-style-type: none;
}

body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #FFFFFF;
}

h2 {
    color: #2E2F42;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11111;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
    margin: 0;
    margin-bottom: 72px;
}

/* header */

.header-nav-address {
    display: flex;
}

.logo-header  {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color:#4D5AE5;
    margin-top: 24px;
    margin-bottom: 24px;
    margin-left: 156px;
}

.logo-header-black {
    color: #2e2f42;
}

.header-nav {
    display: flex;
}

.header-nav-list{
    display: flex;
    gap: 40px;
    margin-right: 332px;
}

.header-nav-link{
    color: #2E2F42;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.header-nav-link:hover, .header-nav-link:focus {
    color: #404BBF;
}

.address-mail-phone{
    font-style: normal;
}
.address-list {
    display: flex;
    gap: 40px;
}

.address-item {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.address-item:hover, .address-item:focus { 
    color: #404BBF;
}

/* hero */

.hero-section {
    background: #2E2F42;
    width: 1440px;
    height: 600px;
}

.hero-title {
    color: #FFFFFF;
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    width: 496px;
    margin: 0 auto;
    margin-bottom: 48px;
    padding-top: 188px;
}

.hero-button {
    color: #FFFFFF;
    background: #4D5AE5;
    border-radius: 4px;
    padding: 16px 32px;
    width: 169px;
    height: 56px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    
    display: block;
    margin: 0 auto;
    cursor: pointer;
}

.hero-button:hover, .hero-button:focus {
    background: #404BBF;
}

/* benefits */

.benefits-title {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.benefits-list {
    justify-content: center;
    display: flex;
    gap: 24px;
    padding-top: 120px;
    padding-bottom: 120px;
}

.benefits-list-item {
    width: 264px;
    height: 104px;
}

.benefits-list-header {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2E2F42;
    margin-bottom: 8px;
}

.benefits-list-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

/* our team */

.our-team-title {
    line-height: 1.11;
    padding-top: 120px;
}


.our-team-background {
    background-color: #F4F4Fd;
}

.team-list{
    justify-content: center;
    display: flex;
    gap: 24px;
    padding-bottom: 120px;
}

.team-list-item {
    background-color: #FFFFFF
}

.team-member-name {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2E2F42; 
    padding-top: 32px;
    padding-bottom: 8px;
    
}

.team-member-position {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    padding-bottom: 32px;
}

.team-member-name, .team-member-position {
    text-align: center;
    width: 100%;
    margin: 0;
}

/* our portfolio */

.portfolio-title {
    line-height: 1.11;
    color: #2e2f42;
    padding-top: 120px;
}
.portfolio-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 24px;
    justify-content: center;
    padding-bottom: 120px;
}

.portfolio-list-item {}

.portfolio-list-header {
    color: #2E2F42;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
    padding-top: 32px;
    padding-left: 16px;
}

.portfolio-list-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    padding-bottom: 32px;
    padding-left: 16px;
}

/* footer */

.footer {
    background:#2E2F42;
}

.logo-footer {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4D5AE5;
    margin-bottom: 24px;
    margin-left: 156px;
    padding-top: 100px;
}

.logo-footer-white {
    color: #f4f4fd;
}

.footer-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #F4F4FD;
    width: 264px;
    margin-top: 16px;
    margin-left: 156px;
    padding-bottom: 100px;
}